.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(10px);
  z-index: 9998;
}


button {
    cursor: pointer;
}

.settingsmenu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f96 ;
    height: 250px;
    width: 400px;
    z-index: 9999;
    border-radius: 20px;
    padding: 10px;
}

.titlecontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}
.titlecontainer img {
    height: 15px;
    width: 15px
}
.titlecontainer button {
    cursor: pointer;
    height: 15px;
    width: 15px
}
.inputcontainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.option input{
    font-family: "Chivo Mono", monospace;
    background-color: rgb(32, 32, 32);
    border: none;
    width: 100px;
    height: 20px;
    padding: 5px;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.3s ease;
}
.option label {
    font-size: 15px;
    font-weight: 500;
}
.option input:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.452);
}

.minutes {
    font-family: "Chivo Mono", monospace;
    font-size: 13px;
    font-weight: 400;
}

.savebutton {
    margin-bottom: 10px;
    box-shadow: 0px 0px 0px 2px rgba(77, 77, 77, 0.452);
    font-weight: 500;
    padding: 6px 10px;
    border-radius: 10px;
    transition: 0.3s ease;
}

.savebutton:hover {
    background-color: rgb(12, 12, 12);
    box-shadow: none;
}

.close {
    transition: 0.3s ease;
}

.close:hover {
    scale: 1.2;
}

/* slider */
.slidercontainer {
    display: flex;
    flex-direction: row;
    align-self: start;
    align-items: center;
    gap: 5px;
    margin: 0 25px;

}

.toggle_switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.toggle_input {
  display: none;
}

.toggle_label {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
  border-radius: 17px;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.toggle_label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 3px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease;
}

.toggle_input:checked + .toggle_label {
  background-color: #86d993;
}

.toggle_input:checked + .toggle_label:before {
  transform: translateX(18px);
}