.addbutton {
    cursor: pointer;
    height: 30px;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
}

.addbutton img {
    height: 30px;
}

.addbutton:hover {
    background-color: #ffffff1d;
}

.titlecontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    height: 35px;
    font-size: 20px;
    padding: 10px;
    transition: 0.3s ease;
}

.input {
    width: 490px;
    height: 30px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: transparent;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    outline: none;
    transition: width 0.3s ease, height 0.3s ease;
}

.input:focus {
    border: 2px #ffffff1d solid;
}

.alltodocontainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}

.onetodocontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #2020209d ;
    width: 550px;
    border-radius: 15px;
    padding: 15px 15px;
    transition: 0.3s ease;
}

.optionsbutton img {
    height: 18px;
    width: 18px;
}
.optionsbutton {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: 0.2s ease;
}

.optionsbutton:hover {
    scale: 1.2;
}

.todo {
    flex: 1;
    word-wrap: break-word;
    white-space: normal;
    word-break: break-word;
    font-size: 18px;
    font-weight: 500;
}
.onetodocontainer.done {
    text-decoration: line-through;
    background-color: #0a0a0aef;
}
.checkmark {
    height: 21px;
    width: 21px;
    padding: 0 5px;
}

.optionsMenu {
    position: absolute;
    background-color: #242424;
    bottom: 30px;
    border-radius: 15px;
    pointer-events: auto;
}
.option {
    text-align: center;
    padding: 10px;
    transition: 0.3s ease;
}
.option.a {
    border-radius: 15px 15px 0 0;
}
.option.b {
    border-radius: 0 0 15px 15px;
}

.option:hover {
    background-color: rgba(53, 53, 53, 0.87);
}

@media (max-width: 768px) {
    .titlecontainer {
        width: 400px;
        
    }
    .input {
        width: 345px;
    }
    .onetodocontainer {
        width: 400px;
    }
    .optionsbutton:hover {
        scale: 1;
    }
    .optionsMenu {
        right: 1px
    }
}