button {
    all: unset;
}

.allcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer_container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

svg {
    height: 420px;
    width: 420px;
    transform: rotateZ(-90deg) rotateX(-180deg);
}

svg circle {
    r: 200px;
    cx: 210px;
    cy: 210px;
    stroke-width: 6px;
    stroke: white;
    fill: none;
    stroke-dasharray: 1257px;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.25s linear;
}

.timer {
    position: absolute;
    width: 400px;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 110px;
    font-weight: 700;
    font-family: "Chivo Mono", monospace;
}

.buttonscontainer {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.buttonscontainer img {
    height: 40px;
}

.buttonscontainer button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 3px white solid;
    font-size: 24px;
    border-radius: 20px;
    height: 50px;
    width: 120px;
    justify-content: row;
    align-items: center;
}

.resetbutton img {
    animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}